<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      href="https://cdn.shopify.com/s/files/1/0149/5551/1856/files/110718_Favicon_100x100_96a990e8-52f9-4543-ac37-c2404cccc845_32x32.png?v=1551211657"
    />
    <title>Photo Viewer App</title>
  </head>
  <body>
    <div id="app">
      <!-- React will load here -->
    </div>
  </body>
  {% load static %}
  <script src="{% static 'frontend/main.js' %}"></script>
</html>
